$primary: #2563EB;
$primary-dark: #1D4ED8;  
$secondary: #38BDF8;     

$background: #F8FAFC;   
$surface: #FFFFFF;       

$text-primary: #0F172A;  
$text-secondary: #64748B;

$success: #10B981;       
$error: #F43F5E;        

$input-background: #F1F5F9;
$border: #CBD5E1;